@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #121212;
  --background-start: #121212;
  --background-end: #121212;
}

body {
  color: #ffffff;
  background: #06141d;
}
/* 1b2730 gray */
/* 1da1f2 blue */